@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf ');
  font-style: italic;
  font-weight: 400;
}
@font-face{
  font-family: charter;
  src: url('../fonts/charter-bold.otf ');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold ;
}

:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /* font-family: 'charter'; */
}

a {
color: var(--gray30);
}

.header-content {
  padding-left: 20px;
}

header {
  margin-top: 20px;
  font-size: 14px ;  
  color: var(--gray10);
}

header li {
  margin-bottom: 16px;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

.nav-variante {
  padding: 0 8px;
  margin: 0;
}

.nav-variante li {
  list-style: none;
}

.nav-variante a:hover {
  color: white;
  background: black;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 90px;
  padding-bottom: 8px;
  padding-left: 8px;
}

nav {
  margin-bottom: 40px;
}

nav ol {
  padding-left: 20px;
}

nav h2 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 16px;
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
}

/* h1 + p {
  margin-bottom: 64px ;
} */

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin: 16px 0;
  /* margin-top: 16px;
  margin-bottom: 16px; */
  font-weight: normal;
  position: relative;
  top: 0;
}

hr {
  margin: 64px 0;
}

pre {
  background: #FEC62E;
  padding: 40px;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  line-height: 24px ;
}

p {
  color: #424242;
  line-height: 24px;
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url( '../images/pattern.png');
  background-size: 15%;
  height: 96px;
}

blockquote {
  font-size: 24px ;
  color: #424242;
  margin: 32px 0; 
  padding-left: 16px;
  border-left: 4px solid var(--gray30 );
}

blockquote p {
  line-height: 32px;
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: '-';
}

.wrapper {
  max-width: 902px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

/* .debug {
  box-shadow: inset 0 0 0 1px red;
  outline: 1px solid red;
  background: red;
  border: 1px solid red !important;
  box-sizing: border-box;
} */
 
/* ::selection {
  background: blueviolet;
} */

.section-content:first-of-type {
  margin: 0;
}

.section-content:first-of-type img{
  margin-top: 40px;
  display: block;
}

.section-content img {
  display: block;
  max-width: 100%;
}

.section-content {
  margin-top: 164px;
  position: relative;
  counter-reset: titleList;
}

.section-content ol li {
   line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

/* con el + es un hermano directo */
.section-content + hr {
  display: none;
}

.section-content:nth-of-type(2) h3{
  margin-top: 40px;
}

.section-content:nth-of-type(3) h3{
  margin-top: 40px;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background:#424242;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-slider {
  margin-top: 40px;
}

.section-slider p{
  margin: 40px 0;
}

.slider-container {
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  overflow-x: hidden;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; 
}

.slider-bullet-list {
   text-align: center;
   margin-top: 16px;
}

.slider-bullet {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #424242;
  border-radius: 50%;
}

.form input {
  border: 1px solid var(--gray10);
  box-sizing: border-box;
  border-radius: 90px;
  font-size: 16px;
  padding: 12px 16px;
  display: block;
}

.form input[type="text"]{
  width: 100%;
  margin-bottom: 16px;
}

.form input[type="email"]{
  width: 100%;
}

.form input[type="submit"] {
  background: black;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid black;
}

.form label {
  display: block;
  position: relative;
}

footer {
  background: var(--gray20);
  height: 177px;
  margin-top: 109px;
}

.footer-content{
  height: 177px;
  display: grid;
  align-content: center;
}

footer p {
  color: white;
  text-align: center;
  margin-top: 0;
}

.social{
  text-align: center;
}
.social img{
  text-align: center;
  padding-right: 16px;
}

@media screen and (min-width: 1366px){
  .hero{
    height: 350px;
  }
  
  .header {
    position: sticky;
    top: -45px ;
  }

  .header-content {
    position: relative;
  }

  header {
    font-size: 14px ;  
    width: 188px;
    color: var(--gray10);
    position: absolute;
    top: 64px;
    left: -232px;
    z-index: 1;
  }

  h1 {
    font-size: 60px;
    font-weight: normal;
    margin-top: 64px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 750px) {
  .form input {
    border: 1px solid var(--gray10);
    box-sizing: border-box;
    border-radius: 90px;
    font-size: 16px;
    padding: 12px 16px;
    display: inline-block;
  }
  
  .form input[type="text"]{
    width: 40%;
    margin-right: 16px;
    margin-bottom: 0;
  }
  
  .form input[type="email"]{
    width: 100%;
  }
  
  .form input[type="submit"] {
    background: black;
    color: white;
    position: absolute;
    right: 0;
    border: 1px solid black;
  }
  
  .form label {
    position: relative;
    display: inline-block;
    width: 50%;
  }
  
}